<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
  <style>
    table, td, th{
      border: 1px solid black;
      width: 1200px;
      text-align: center;
    }
  </style>
</head>
<body>

<p>Return to <a href="/">Homepage</a></p>
<h2><a href="/dir/content">File System</a></h2>
<form th:action="@{/search(name=${name})}">
  Filter: <input type="text" name="name" id="name" size="30" th:value="${name}"/>
  <input type="submit" value="Search" />
</form>

<div th:if="${moderator}">
  <p>Add <a th:href="@{/users/grant(right=moderator, id = ${param.id})}">moderator</a></p>
  <p>Add <a th:href="@{/users/grant(right=editor, id = ${param.id})}">editor</a></p>
  <p>Add <a th:href="@{/users/grant(right=reader, id = ${param.id})}">reader</a></p>
</div>
<div th:if="${editor}">
  <p>Add <a th:href="@{/users/grant(right=reader, id = ${param.id})}">reader</a></p>
</div>

<p>Create <a th:href="@{/dir/create(id=${param.id})}">Directory</a></p>
<p>Create <a th:href="@{/doc/create(dir=${param.id})}">Document</a></p>
<table>
  <thead>
  <tr>
    <th> Name </th>
    <th> Author </th>
    <th> Type </th>
    <th> Created </th>
    <th> Status </th>
    <th>  </th>
    <th>  </th>
    <th>  </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="content : ${contents}">
    <div th:switch="${content.status}">
      <div th:case="${T(com.dms.model.Status).CURRENT}">
    <td><span th:text="${content.name}"> Title </span></td>
    <td><span th:text="${content.author.username}"> Title </span></td>
    <td><span th:text="${content.type}"> Title </span></td>
    <td><span th:text="${#dates.format(content.creationDT, 'dd-MMM-yyyy HH:mm')}"> Title </span></td>
    <td><span th:text="${content.status}"> Title </span></td>

    <td>
      <div th:switch="${content.type}">
        <p th:case="${T(com.dms.model.Type).DOCUMENT}">
          <a th:href="@{/doc/view(id=${content.id})}">View</a>
        </p>
        <p th:case="${T(com.dms.model.Type).DIRECTORY}">
          <a th:href="@{content(id=${content.id})}">View</a>
        </p>
      </div>
    </td>

    <td>
      <div th:switch="${content.type}">
        <p th:case="${T(com.dms.model.Type).DOCUMENT}">
          <a th:href="@{/doc/delete(id=${content.id})}">Delete</a>
        </p>
        <p th:case="${T(com.dms.model.Type).DIRECTORY}">
          <a th:href="@{/dir/delete(id=${content.id})}">Delete</a>
        </p>
      </div>
    </td>

    <td>
      <div th:switch="${content.type}">
        <p th:case="${T(com.dms.model.Type).DOCUMENT}">
          <a th:href="@{/doc/create(doc=${content.id}, dir=${param.id})}">Create version</a>
        </p>
      </div>
    </td>

      </div>
    </div>
  </tr>
  </tbody>
</table>

</body>
</html>