<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create document</title>
</head>
<body>

<p>Return to <a href="/">homepage</a></p>
<h1>Create Document</h1>
<form th:action="@{create(dir=${param.dir}, doc=${param.doc})}" th:object="${document}" method="post">
    <label>Name:
        <input type="text" th:field="*{name}"/>
    </label><br/>

    <label>Free Access:
        <input type="checkbox" th:field="*{freeAccess}" />
    </label><br/>


    <p>Description:</p>
        <textarea rows="5" cols="25" th:field="*{description}"></textarea>
    <br/>


    <label>Priority:
        <select name="priority">
            <option th:each="val : ${T(com.dms.model.Priority).values()}"
                    th:value="${val}" th:text="${val}"></option>
        </select>
    </label><br/>

    <label>DocType:
        <select name="docType">
            <option th:each="val : ${docTypes}"
                    th:value="${val.getId()}" th:text="${val.getName()}"></option>
        </select>
    </label><br/>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>