<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        table, td, th{
            border: 1px solid black;
            width: 1200px;
            text-align: center;
        }
    </style>
</head>
<body>

<p>Return to <a href="/">Homepage</a></p>
<div th:if="${moderator}">
    <p>Add <a th:href="@{/users/grant(right=moderator, id = ${param.id})}">moderator</a></p>
    <p>Add <a th:href="@{/users/grant(right=editor, id = ${param.id})}">editor</a></p>
    <p>Add <a th:href="@{/users/grant(right=reader, id = ${param.id})}">reader</a></p>
</div>
<div th:if="${editor}">
    <p>Add <a th:href="@{/users/grant(right=reader, id = ${param.id})}">reader</a></p>
</div>
<p>Create <a th:href="@{/file/create(id=${param.id})}">file</a></p>
<h2>Document Info</h2>
<table>
    <thead>

    </thead>

    <tbody>
        <tr>
            <td>Name</td>
            <td><span th:text="${document.getName()}"/></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><span th:text="${document.getAuthor().getUsername()}"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><span th:text="${document.getAuthor().getEmail()}"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><span th:text="${document.getDescription()}"/></td>
        </tr>
        <tr>
            <td>Priority</td>
            <td><span th:text="${document.getPriority()}"/></td>
        </tr>

    </tbody>
</table>

<h2>Files</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Path</td>
            <td> </td>
        </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td><span th:text="${file.name}"> Title </span></td>
        <td><span th:text="${file.type}"> Title </span></td>
        <td><span th:text="${file.path}"> Title </span></td>
        <td><a th:href="@{/file/delete(id=${file.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>



</body>
</html>